<html>

<head>
    <title>Sing up</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body>
    <div class="container" id="login">
        <div class="row">
            <h1 class="text-center login-title">Sign up to continue to <b>qt-transfer</b></h1>
            <div class="account-wall">
                <img class="profile-img" src="assets/img/photo.png" alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account" onClick="console.log('redirect->login')">Sign in</a>
        </div>
    </div>
</body>

</html>